.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#timer-container {
  border: 10px solid whitesmoke;
  border-radius: 50%;
  width: 15em;
  height: 15em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}